header{
    background-color: rgb(64, 175, 219);
    background-image: url('img/pattern.png');
    height: 70px;
    width: 100%;

}

.titolo > p{
    color: grey;
}

#ScrittoDa{
    color: rgb(64, 175, 219);
}

.didascalie{
    font-size: 4px;
}

ul {
    list-style-type: disc;
    padding-left: 0;       
    margin-left: 10px;        
}

thead{
    background-color: rgb(64, 175, 219);
}

#trcolorato{
    background-color: rgb(139, 215, 235);
}


.immaginefooter{
    position: relative;
}

.immaginefooter > .testoimmaginefooter{
    color: red;
    font-size: bold;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 10;
    text-align: center;
}

#testoevidenziato{
    background-color: yellow;
}

.footer > h3{
    color: grey;
}